<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Form</title>
</head>
<body>
<form th:object="${deleteCategory}" action="/category/delete" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input th:field="*{id}" readonly>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input th:field="*{name}" readonly>
            </td>
        </tr>
    </table>
    <input type="submit" value="Delete">
    <a th:href="@{/category/list}">Return to Category List</a>
</form>
</body>
</html>