<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{/common/header::header}"></div>
<div th:replace="~{/common/navbar::navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{/common/sidebar::sidebar}"></div>
        <div class="col-lg-10" th:if="${not employeeList.isEmpty()}">
            <div class="col-lg-12 text-center">
                <h3>EMPLOYEE LIST</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Identity Number</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">User</th>
                    <th scope="col">Division</th>
                    <th scope="col">Position</th>
                    <th scope="col">Degree</th>
                    <th scope="col" colspan="3" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeObj:${employeeList}">
                    <td th:text="${employeeObj.id}"></td>
                    <td th:text="${employeeObj.name}"></td>
                    <td th:text="${employeeObj.identityNumber}"></td>
                    <td th:text="${employeeObj.salary}"></td>
                    <td th:text="${employeeObj.phoneNumber}"></td>
                    <td th:text="${employeeObj.email}"></td>
                    <td th:text="${employeeObj.address}"></td>
                    <td th:text="${employeeObj.user.account}"></td>
                    <td th:text="${employeeObj.division.name}"></td>
                    <td th:text="${employeeObj.position.name}"></td>
                    <td th:text="${employeeObj.degree.name}"></td>
                    <td>
                        <a th:href="@{/employee/edit/__${employeeObj.id}__}" class="btn btn-success" role="button">Edit</a>
                    </td>
                    <td>
<!--                        <a th:href="@{/employee/delete/__${employeeObj.id}__}"  class="btn btn-success" role="button" >Delete</a>-->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" onclick="deleteEmployee('+${employeeObj.id}+','+${employeeObj.name}+')">
                            Delete
                        </button>
                    </td>
                    <td>
                        <a th:href="@{/employee/detail/__${employeeObj.id}__}"  class="btn btn-success" role="button" >Detail</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-4">
                    <a th:href="@{'/employee/list'(page=${employeeList.number - 1})}" class="link-success" th:if="${employeeList.hasPrevious()}">Previous</a>
                    <span th:text="${employeeList.number + 1}"></span>/<span th:text="${employeeList.getTotalPages()}"></span>
                    <a th:href="@{'/employee/list'(page=${employeeList.number + 1})}" th:if="${employeeList.hasNext()}" class="link-success">Next</a>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/common/footer::footer}"></div>
<script src="/js/bootstrap.min.js"></script>
<%--    modal--%>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want delete <input id="name" style="border: none;outline: none ; color: red">
            </div>
            <form action="/employee/delete/" method="post">
                <input type="hidden" name="actionClient" value="delete">
                <input type="hidden" name="id" value="" id="id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous">
</script>
<script>
    function deleteEmployee(id,name) {
        document.getElementById("id").value = id;
        document.getElementById("name").value = name;
    }
</script>
</body>
</html>