<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>
<div class="container-fluid " th:fragment="footer">
    <div class="row">
        <div class="col-lg-12 p-3 mb-2 bg-success text-white" style="text-align: center">
            <p>&copy; 2021 furama.com.vn. All rights reserved.</p>
        </div>
    </div>
</div>
<!--<script src="/js/bootstrap.min.js"></script>-->
</body>
</html>