<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>
<div class="container-fluid" th:fragment="header" style="background-color: #20c997">
    <div class="row">
        <div class="col-lg-10 my-0">
            <img src="/image_libary/logo-furama.png" width="80px" height="80px" alt="logo" >
        </div>
        <div class="col-lg-2" style="text-align: center" sec:authorize="isAnonymous()">
            <form action="/login" method="post">
                <input class="btn btn-success my-1" type="submit" value="Login" style="border-color: #664d03">
            </form>
        </div>
        <div class="col-lg-2 text-white " style="text-align: center"  sec:authorize="isAuthenticated()">
                <p> Hello, <span sec:authentication="principal.username"></span> <a th:href="@{/logout}" class="link-success">(Log out)</a></p>
        </div>
    </div>
</div>
<!--<script src="/js/bootstrap.min.js"></script>-->
</body>
</html>