<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>
<div class="col-lg-2 col-sm-12 col-md-12 p-0 " th:fragment="sidebar">
    <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
        <li class="list-group-item" >An item</li>
        <li class="list-group-item" >An item</li>
        <li class="list-group-item" >An item</li>
        <li class="list-group-item" >An item</li>
        <li class="list-group-item" >An item</li>
    </ul>
</div>
<!--<script src="/js/bootstrap.min.js"></script>-->
</body>
</html>