<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" id="inputSearch" autocomplete="off">
</div>
<div>
    <table>
        <tr>
            <td>Id</td>
            <td>Description</td>
            <td>Content</td>
            <td>Category</td>
            <td>Detail</td>
        </tr>
    </table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url:"http://localhost:8080/blog/api/",
            type: "GET",
            dataType: "json",
            success: function (data) {
                let tr = [];
                for (let i =0;i<data.length;i++){
                    tr.push('<tr>');
                    tr.push('<td>'+data[i].id+'</td>');
                    tr.push('<td>'+data[i].description+'</td>');
                    tr.push('<td>'+data[i].content+'</td>');
                    tr.push('<td>'+data[i].category.name+'</td>');
                    tr.push('<td>'+'<button>Detail</button>'+'</td>');
                    tr.push('</tr>');
                }
                $('table').append($(tr.join('')));
            }
        })
        $("#inputSearch").keyup(function () {
            let value = $(this).val();
            //moi lan nhan value thi reset table
            $('table').empty()
            $.ajax({
                url:"http://localhost:8080/blog/api/search?categoryId="+value,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    let tr = [];
                    for (let i =0;i<data.length;i++){
                        tr.push('<tr>');
                        tr.push('<td>'+data[i].id+'</td>');
                        tr.push('<td>'+data[i].description+'</td>');
                        tr.push('<td>'+data[i].content+'</td>');
                        tr.push('<td>'+data[i].category.name+'</td>');
                        tr.push('</tr>');
                    }
                    $('table').append($(tr.join('')));
                }
            })
        })
        $("button").click(function () {
            $.ajax({
                url:"http://localhost:8080/blog/api/",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    for (let i =1;i<data.length;i++){
                        $.ajax({
                            url:"http://localhost:8080/blog/api/detail/"+i,
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                                let tr = [];
                                    tr.push('<tr>');
                                    tr.push('<td>'+data.id+'</td>');
                                    tr.push('<td>'+data.description+'</td>');
                                    tr.push('<td>'+data.content+'</td>');
                                    tr.push('<td>'+data.category.name+'</td>');
                                    tr.push('</tr>');
                                $('table').append($(tr.join('')));
                            }
                        })
                    }
                }
            })
        })
    })
</script>
</body>
</html>