<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Do you want to give:</h3>
<form action="/book/give/" method="post" th:object="${detailBook}">
    <table>
        <input th:field="*{codes}" hidden>
        <tr>
            <td>ID</td>
            <td>
                <input th:field="*{id}" readonly>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input th:field="*{name}" readonly>
            </td>
        </tr>
        <tr>
            <td>Input code</td>
            <td>
                <input type="number" name="codeBorrow">
            </td>
        </tr>
    </table>
    <div>
        <input type="submit" value="Yes">
    </div>

</form>
<a th:href="@{/book/list}">Return to book list</a>
</body>
</html>